<!doctype html>
<html lang="en">
 
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>فراموشی رمز عبور</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../../../static/web/assets/vendor/bootstrap/css/bootstrap.min.css">
    <link href="../../../static/web/assets/vendor/fonts/circular-std/style.css" rel="stylesheet">
    <link rel="stylesheet" href="../../../static/web/assets/libs/css/style.css">
    <link rel="stylesheet" href="../../../static/web/assets/vendor/fonts/fontawesome/css/fontawesome-all.css">
    <style>
    html,
    body {
        height: 100%;
    }

    body {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
        align-items: center;
        padding-top: 40px;
        padding-bottom: 40px;
    }
    </style>
</head>

<body>
    <!-- ============================================================== -->
    <!-- forgot password  -->
    <!-- ============================================================== -->
    <div class="splash-container">
        <div class="card">
            <div class="card-header text-center"><img class="logo-img" src="../../../static/web/assets/images/logo.png" alt="logo"><span class="splash-description">لطفا اطلاعات خود را وارد کنید</span></div>
            <div class="card-body">
                <form>
                    
                    <div class="form-group">
                        <input class="form-control form-control-lg" type="email" name="email" required="" placeholder="ایمیل" autocomplete="off">
                    </div>
                    <div class="form-group pt-1"><a class="btn btn-block btn-primary btn-xl" href="../index.html">دریافت رمز جدید</a></div>
                </form>
            </div>
            <div class="card-footer text-center">
                <span>ثبت نام نکرده اید؟ <a href="sign-up.html">ثبت نام کنید</a></span>
            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- end forgot password  -->
    <!-- ============================================================== -->
    <!-- Optional JavaScript -->
    <script src="../../../static/web/assets/vendor/jquery/jquery-3.3.1.min.js"></script>
    <script src="../../../static/web/assets/vendor/bootstrap/js/bootstrap.bundle.js"></script>
</body>

 
</html>