<!doctype html>
<html lang="en">
 
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Login</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../../../static/web/assets/vendor/bootstrap/css/bootstrap.min.css">
    <link href="../../../static/web/assets/vendor/fonts/circular-std/style.css" rel="stylesheet">
    <link rel="stylesheet" href="../../../static/web/assets/libs/css/style.css">
    <link rel="stylesheet" href="../../../static/web/assets/vendor/fonts/fontawesome/css/fontawesome-all.css">
    <style>
    html,
    body {
        height: 100%;
    }

    body {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
        align-items: center;
        padding-top: 40px;
        padding-bottom: 40px;
    }
    </style>
</head>

<body>
    <!-- ============================================================== -->
    <!-- login page  -->
    <!-- ============================================================== -->
    <div class="splash-container">
        <div class="card ">
            <div class="card-body">
                <form dir = "rtl" role="form" action="" method="post" enctype="multipart/form-data">
                	<div class="card-header">
                		<h3 class="mb-1"><center>ورود به حساب کاربری</center></h3>
           			 </div>
                    {% csrf_token %}
                    {% for field in form %}
                        <div class="form-group">
                            <input class="form-control form-control-lg" type="" name="" required="" placeholder="{{ field.label }}" autocomplete="off">
                        </div>
                    {% endfor %}
                    <div class="form-group">
                        <label class="custom-control custom-checkbox">
                            <input class="custom-control-input" type="checkbox"><span class="custom-control-label">مرا به خاطر بسپار! <a href="#"></a></span>
                        </label>
                    </div>
                    <button type="submit" href="seller-profile.html" class="btn btn-primary btn-lg btn-block">ورود</button>
                </form>
            </div>
            <div class="card-footer bg-white p-0  ">
                <div class="card-footer-item card-footer-item-bordered">
                    <a href="sign-up.html" class="footer-link">ایجاد حساب جدید</a></div>
                <div class="card-footer-item card-footer-item-bordered">
                    <a href="forgot-password.html" class="footer-link">رمز خود را فراموش کرده‌اید؟</a>
                </div>
            </div>
        </div>
    </div>
  
    <!-- ============================================================== -->
    <!-- end login page  -->
    <!-- ============================================================== -->
    <!-- Optional JavaScript -->
    <script src="../../../static/web/assets/vendor/jquery/jquery-3.3.1.min.js"></script>
    <script src="../../../static/web/assets/vendor/bootstrap/js/bootstrap.bundle.js"></script>
</body>
 
</html>