<!doctype html>
<html lang="en">
{% load static %}
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>ثبت نام</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'web/assets/vendor/bootstrap/css/bootstrap.min.css' %}">
    <link href="{% static 'web/assets/vendor/fonts/circular-std/style.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'web/assets/libs/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'web/assets/vendor/fonts/fontawesome/css/fontawesome-all.css' %}">
    <style>
        html,
        body {
            height: 100%;
        }

        body {
            display: -ms-flexbox;
            display: flex;
            -ms-flex-align: center;
            align-items: center;
            padding-top: 40px;
            padding-bottom: 40px;
        }
    </style>
</head>
<!-- ============================================================== -->
<!-- signup form  -->
<!-- ============================================================== -->

<body>
<!-- ============================================================== -->
<!-- signup form  -->
<!-- ============================================================== -->
<form class="splash-container" dir="rtl" role="form" action="" method="post" enctype="multipart/form-data" novalidate>
    <div class="card">
        <div class="card-header">
            <h3 class="mb-1">
                <div style="text-align: center;">ثبت حساب کاربری جدید</div>
            </h3>
        </div>
        <div class="card-body">
            {% csrf_token %}
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-danger">
                        <strong>{{ message|safe }}</strong>
                    </div>
                {% endfor %}
            {% endif %}
            {% if form.errors %}
                {% for field in form %}
                    {% for error in field.errors %}
                        <div class="alert alert-danger">
                            <strong>{{ error|escape }}</strong>
                        </div>
                    {% endfor %}
                {% endfor %}
                {% for error in form.non_field_errors %}
                    <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                    </div>
                {% endfor %}
            {% endif %}
            {% for field in form %}
                {% if field.name != 'type' %}
                    <div class="form-group">
                        <input class="form-control form-control-lg" type="{{ field.subwidgets.0.data.type }}"
                               name="{{ field.name }}" required=""
                               placeholder="{{ field.label }}" autocomplete="off">
                    </div>
                {% else %}
                    <div class="form-group">
                        <label class="custom-control custom-checkbox">
                            <input class="custom-control-input" type="checkbox"><span
                                class="custom-control-label">{{ field.label }} <a href="#"></a></span>
                        </label>
                    </div>
                {% endif %}
            {% endfor %}
            <div class="form-group pt-2">
                <button href="#" class="btn btn-block btn-primary" type="submit" name="submit_button">ثبت نام</button>
            </div>
            <div class="form-group">
                <label class="custom-control custom-checkbox">
                    <input class="custom-control-input" type="checkbox"><span class="custom-control-label"
                                                                              aria-required="true">قوانین و مقررات <a
                        href="#"></a></span>
                </label>
            </div>
        </div>

        <div class="card-footer bg-white">
            <p>قبلا عضو شده‌اید؟ <a href="{% url 'sign_in' %}" class="text-secondary">از اینجا وارد شوید</a></p>
        </div>
    </div>
</form>
</body>


</html>