<!doctype html>
<html lang="en">
 
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>درگاه بانک</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../../../static/web/assets/vendor/bootstrap/css/bootstrap.min.css">
    <link href="../../../static/web/assets/vendor/fonts/circular-std/style.css" rel="stylesheet">
    <link rel="stylesheet" href="../../../static/web/assets/libs/css/style.css">
    <link rel="stylesheet" href="../../../static/web/assets/vendor/fonts/fontawesome/css/fontawesome-all.css">
</head>

<body>
    <!-- ============================================================== -->
    <!-- main wrapper -->
    <!-- ============================================================== -->
    <div class="dashboard-main-wrapper">
       <!-- ============================================================== -->
        <!-- navbar -->
        <!-- ============================================================== -->
        <div class="dashboard-header">
            <nav class="navbar navbar-expand-lg bg-white fixed-top">
                <a class="navbar-brand" href="../index.html">Concept</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
               
            </nav>
        </div>
        <!-- ============================================================== -->
        <!-- end navbar -->
        <!-- ============================================================== -->
       
        <!-- ============================================================== -->
        <!-- wrapper  -->
        <!-- ============================================================== -->
        <div class="dashboard-wrapper" dir = "rtl">
            <div class="container-fluid  dashboard-content">
                <!-- ============================================================== -->
                <!-- pageheader -->
                <!-- ============================================================== -->
                
                <!-- ============================================================== -->
                <!-- end pageheader -->
                <!-- ============================================================== -->
             
                    <div class="row" dir = "rtl">
                        
                        
                        <!-- ============================================================== -->
                        <!-- basic pills  -->
                        <!-- ============================================================== -->
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mb-5">
                            <div class="section-block">
                                <h5 class="section-title"></h5>
                                <p></p>
                            </div>
                            <div class="pills-regular">
                                <ul class="nav nav-pills mb-1" id="pills-tab" role="tablist">
                                    
                                </ul>
                                <div class="tab-content" id="pills-tabContent">
                                    <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                                    	
						<!-- ============================================================== -->
                        <!-- basic form  -->
                        <!-- ============================================================== -->
                        <div class="row" dir = "rtl">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12" dir = "rtl">
                                <div class="section-block" id="basicform" dir = "rtl">
                                    <h3 class="section-title"></h3>
                                </div>
                                <div class="card">
                                   <div class="card-body">
                                            <form class="needs-validation" novalidate="">
                                                <h3> درگاه بانک </h3>
                                                <hr class="mb-4">
                                                <div class="row">
                                                <div class="col-md-6 mb-3">
                                                        <label for="cc-number">شماره کارت</label>
                                                        <input type="text" class="form-control" id="cc-number" placeholder="" required="">
                                                        <div class="invalid-feedback">
                                                            شماره کارت الزامی است
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6 mb-3">
                                                        <label for="cc-name">رمز دوم</label>
                                                        <input type="password" class="form-control" id="password" placeholder="" required="">
                                                        <div class="invalid-feedback">
                                                            موارد الزامی را وارد کنید
                                                        </div>
                                                    </div>
            
                                                </div>
                                                <div class="row">
                                                	<div class="col-md-3 mb-3">
                                                        <label for="cc-expiration">ماه</label>
                                                        <input type="text" class="form-control" id="cc-expiration" placeholder="" required="">
                                                        <div class="invalid-feedback">
                                                            تاریخ انقضا الزامی است
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3 mb-3">
                                                    <label for="cc-expiration">سال</label>
                                                        <input type="text" class="form-control" id="cc-expiration" placeholder="" required="">
                                                    </div>
                                                    <div class="col-md-3 mb-3">
                                                        <label for="cc-cvv">CVV2</label>
                                                        <input type="text" class="form-control" id="cc-cvv" placeholder="" required="">
                                                        <div class="invalid-feedback">
                                                            موارد الزامی را وارد کنید
                                                        </div>
                                                    </div>
                                                </div>
                                                <hr class="mb-4">
                                                <button class="btn btn-primary btn-lg btn-block" type="submit">پرداخت</button>
                                            </form>
                                        </div>
                                </div>
                            </div>
                        </div>
                        <!-- ============================================================== -->
                        <!-- end basic form  -->
                        <!-- ============================================================== -->                                    </div>
                                   
             <!-- ============================================================== -->
             <!-- end basic pills  -->
             <!-- ============================================================== -->
                
            </div>
            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->
            
            <!-- ============================================================== -->
            <!-- end footer -->
            <!-- ============================================================== -->
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- end main wrapper -->
    <!-- ============================================================== -->
    <!-- Optional JavaScript -->
    <script src="../../../static/web/assets/vendor/jquery/jquery-3.3.1.min.js"></script>
    <script src="../../../static/web/assets/vendor/bootstrap/js/bootstrap.bundle.js"></script>
    <script src="../../../static/web/assets/vendor/slimscroll/jquery.slimscroll.js"></script>
    <script src="../../../static/web/assets/libs/js/main-js.js"></script>
</body>

 
</html>