<!DOCTYPE html>
<html lang="zxx" dir = "rtl">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Yoga Studio Template">
    <meta name="keywords" content="Yoga, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Violet | Template</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC:400,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900&display=swap"
        rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="css/style.css" type="text/css">
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>
    
    <!-- Search model -->
	<div class="search-model">
		<div class="h-100 d-flex align-items-center justify-content-center">
			<div class="search-close-switch">+</div>
			<form class="search-model-form">
				<input type="text" id="search-input" placeholder="Search here.....">
			</form>
		</div>
	</div>
	<!-- Search model end -->

    <!-- Header Section Begin -->
    <header class="header-section">
        <div class="container-fluid" dir = "rtl">
            <div class="inner-header">
                
                
                <nav class="main-menu mobile-menu">
                    <ul>
                        <li><a class="active" href="./index.html">شروع خرید</a></li>
                        <li><a href="./sign_up.html">ثبت نام</a></li>
                        <li><a href="./sign_in.html" class="in">ورود</a></li>
                        <!-- 
<li><a href="./categories.html">Shop</a>
                            <ul class="sub-menu">
                                <li><a href="product-page.html">Product Page</a></li>
                                <li><a href="shopping-cart.html">Shopping Card</a></li>
                                <li><a href="check-out.html">Check out</a></li>
                            </ul>
                        </li>
 -->
                        <!-- 
<li><a href="./product-page.html">About</a></li>
                        <li><a href="./check-out.html">Blog</a></li>
                        <li><a href="./contact.html">Contact</a></li>
 -->
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <!-- Header Info Begin -->
    <div class="header-info">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4">
                    <div class="header-item">
                        <img src="img/icons/delivery.png" alt="">
                        <p>تبلیغات</p>
                    </div>
                </div>
                <div class="col-md-4 text-left text-lg-center">
                    <div class="header-item">
                        <img src="img/icons/voucher.png" alt="">
                        <p>تبلیغات</p>
                    </div>
                </div>
                <div class="col-md-4 text-left text-xl-right">
                    <div class="header-item">
                    <img src="img/icons/sales.png" alt="">
                    <p>تبلیغات</p>
                </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Header Info End -->
    <!-- Header End -->

   
   <section class="latest-products spad">
        <div class="container">
            <div class="product-filter">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <div class="section-title">
                            <h2>اجناس</h2>
                        </div>
                        <ul class="product-controls">
                            <li data-filter="*">همه اجناس</li>
                            <li data-filter=".furniture">لوازم منزل</li>
                            <li data-filter=".electronics">لوازم الکترونیکی</li>
                            <li data-filter=".clothing">پوشاک و زیورآلات</li>
<!--                             <li data-filter=".food">خوراکی</li> -->
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row" id="product-list">
                <div class="col-lg-3 col-sm-6 mix all furniture">
                    <div class="single-product-item">
                        <figure>
                            <a href="#"><img src="img/products/furniture-1.jpeg" alt=""></a>
                            <div class="p-status">جدید</div>
                        </figure>
                        <div class="product-text">
                            <h6>مبل دو نفره سبز</h6>
                            <p>قیمت</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 mix all electronics">
                    <div class="single-product-item">
                        <figure>
                            <a href="#"><img src="img/products/electronics-1.jpeg" alt=""></a>
                            <div class="p-status sale">تخفیف</div>
                        </figure>
                        <div class="product-text">
                            <h6>لپ تاپ مک بوک</h6>
                            <p>قیمت</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 mix all furniture">
                    <div class="single-product-item">
                        <figure>
                            <a href="#"><img src="img/products/furniture-1.jpeg" alt=""></a>
                            <div class="p-status">جدید</div>
                        </figure>
                        <div class="product-text">
                            <h6>مبل دو نفره سبز</h6>
                            <p>قیمت</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 mix all electronics">
                    <div class="single-product-item">
                        <figure>
                            <a href="#"><img src="img/products/electronics-1.jpeg" alt=""></a>
                            <div class="p-status sale">تخفیف</div>
                        </figure>
                        <div class="product-text">
                            <h6>لپ تاپ مک بوک</h6>
                            <p>قیمت</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 mix all furniture">
                    <div class="single-product-item">
                        <figure>
                            <a href="#"><img src="img/products/furniture-1.jpeg" alt=""></a>
                            <div class="p-status">جدید</div>
                        </figure>
                        <div class="product-text">
                            <h6>مبل دو نفره سبز</h6>
                            <p>قیمت</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 mix all electronics">
                    <div class="single-product-item">
                        <figure>
                            <a href="#"><img src="img/products/electronics-1.jpeg" alt=""></a>
                            <div class="p-status sale">تخفیف</div>
                        </figure>
                        <div class="product-text">
                            <h6>لپ تاپ مک بوک</h6>
                            <p>قیمت</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
   
    

    <!-- Logo Section Begin -->
    <div class="logo-section spad">
        <div class="logo-items owl-carousel">
            <div class="logo-item">
                <img src="img/logos/logo-1.png" alt="">
            </div>
            <div class="logo-item">
                <img src="img/logos/logo-2.png" alt="">
            </div>
            <div class="logo-item">
                <img src="img/logos/logo-3.png" alt="">
            </div>
            <div class="logo-item">
                <img src="img/logos/logo-4.png" alt="">
            </div>
            <div class="logo-item">
                <img src="img/logos/logo-5.png" alt="">
            </div>
        </div>
    </div>
    <!-- Logo Section End -->

   
    <!-- Js Plugins -->
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/jquery.slicknav.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/jquery.nice-select.min.js"></script>
    <script src="js/mixitup.min.js"></script>
    <script src="js/main.js"></script>
</body>

</html>