<!doctype html>
<html lang="en">


<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../../static/web/assets/vendor/bootstrap/css/bootstrap.min.css">
    <link href="../../static/web/assets/vendor/fonts/circular-std/style.css" rel="stylesheet">
    <link rel="stylesheet" href="../../static/web/assets/libs/css/style.css">
    <link rel="stylesheet" href="../../static/web/assets/vendor/fonts/fontawesome/css/fontawesome-all.css">
    <title>صفحه شخصی</title>
</head>

<body>
<!-- ============================================================== -->
<!-- main wrapper -->
<!-- ============================================================== -->
<div class="dashboard-main-wrapper">
    <!-- ============================================================== -->
    <!-- navbar -->
    <!-- ============================================================== -->
    <div class="dashboard-header">
        <nav class="navbar navbar-expand-lg bg-white fixed-top">
            <a class="navbar-brand">Agilagic</a>
            <div class="collapse navbar-collapse " id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto navbar-right-top">
                    {#                        <li class="nav-item">#}
                    {#                            <div id="custom-search" class="top-search-bar">#}
                    {#                                <input class="form-control" type="text" placeholder="Search..">#}
                    {#                            </div>#}
                    {#                        </li>#}
                    <li class="nav-item dropdown notification">
                        <a class="nav-link nav-icons" href="#" id="navbarDropdownMenuLink1" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false"><i class="fas fa-fw fa-bell"></i> <span
                                class="indicator"></span></a>
                        <ul class="dropdown-menu dropdown-menu-right notification-dropdown">
                            <li>
                                <div class="notification-title"> Notification</div>
                                <div class="notification-list">
                                    <div class="list-group">
                                        <a href="#" class="list-group-item list-group-item-action active">
                                            <div class="notification-info">
                                                <div class="notification-list-user-block"><span
                                                        class="notification-list-user-name">Jeremy Rakestraw</span>accepted
                                                    your invitation to join the team.
                                                    <div class="notification-date">2 min ago</div>
                                                </div>
                                            </div>
                                        </a>
                                        <a href="#" class="list-group-item list-group-item-action">
                                            <div class="notification-info">
                                                <div class="notification-list-user-block"><span
                                                        class="notification-list-user-name">John Abraham </span>is now
                                                    following you
                                                    <div class="notification-date">2 days ago</div>
                                                </div>
                                            </div>
                                        </a>
                                        <a href="#" class="list-group-item list-group-item-action">
                                            <div class="notification-info">
                                                <div class="notification-list-user-block"><span
                                                        class="notification-list-user-name">Monaan Pechi</span> is
                                                    watching your main repository
                                                    <div class="notification-date">2 min ago</div>
                                                </div>
                                            </div>
                                        </a>
                                        <a href="#" class="list-group-item list-group-item-action">
                                            <div class="notification-info">
                                                <div class="notification-list-user-block"><span
                                                        class="notification-list-user-name">Jessica Caruso</span>accepted
                                                    your invitation to join the team.
                                                    <div class="notification-date">2 min ago</div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="list-footer"><a href="#">View all notifications</a></div>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown connection">
                        <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false"> <i class="fas fa-fw fa-th"></i> </a>
                        <ul class="dropdown-menu dropdown-menu-right connection-dropdown">
                            <li class="connection-list">
                                <div class="row">
                                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 ">
                                        <a href="#" class="connection-item"><img src="assets/images/github.png" alt="">
                                            <span>Github</span></a>
                                    </div>
                                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 ">
                                        <a href="#" class="connection-item"><img src="assets/images/dribbble.png"
                                                                                 alt=""> <span>Dribbble</span></a>
                                    </div>
                                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 ">
                                        <a href="#" class="connection-item"><img src="assets/images/dropbox.png" alt="">
                                            <span>Dropbox</span></a>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 ">
                                        <a href="#" class="connection-item"><img src="assets/images/bitbucket.png"
                                                                                 alt=""> <span>Bitbucket</span></a>
                                    </div>
                                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 ">
                                        <a href="#" class="connection-item"><img src="assets/images/mail_chimp.png"
                                                                                 alt=""><span>Mail chimp</span></a>
                                    </div>
                                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 ">
                                        <a href="#" class="connection-item"><img src="assets/images/slack.png" alt="">
                                            <span>Slack</span></a>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="conntection-footer"><a href="#">More</a></div>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown nav-user">
                        <a class="nav-link nav-user-img" href="#" id="navbarDropdownMenuLink2" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false"><img src="assets/images/avatar-1.jpg" alt=""
                                                                           class="user-avatar-md rounded-circle"></a>
                        <div class="dropdown-menu dropdown-menu-right nav-user-dropdown"
                             aria-labelledby="navbarDropdownMenuLink2">
                            <div class="nav-user-info">
                                <h5 class="mb-0 text-white nav-user-name">John Abraham </h5>
                                <span class="status"></span><span class="ml-2">Available</span>
                            </div>
                            <a class="dropdown-item" href="#"><i class="fas fa-user mr-2"></i>Account</a>
                            <a class="dropdown-item" href="#"><i class="fas fa-cog mr-2"></i>Setting</a>
                            <a class="dropdown-item" href="#"><i class="fas fa-power-off mr-2"></i>Logout</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <!-- ============================================================== -->
    <!-- end navbar -->
    <!-- ============================================================== -->

    <!-- ============================================================== -->
    <!-- wrapper  -->
    <!-- ============================================================== -->
    <div class="dashboard-wrapper">
        <div class="influence-profile">
            <div class="container-fluid dashboard-content ">
                <!-- ============================================================== -->
                <!-- pageheader -->
                <!-- ============================================================== -->
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <div class="page-header">
                            <h3 class="mb-2">پروفایل فروشنده</h3>
                            <div class="page-breadcrumb">
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">خانه</a></li>
                                        <li class="breadcrumb-item active" aria-current="page">پروفایل فروشنده</li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- end pageheader -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- content -->
                <!-- ============================================================== -->
                <div class="row">

                    <!-- ============================================================== -->
                    <!-- campaign data -->
                    <!-- ============================================================== -->
                    <div class="col-xl-9 col-lg-9 col-md-7 col-sm-12 col-12">
                        <!-- ============================================================== -->
                        <!-- campaign tab one -->
                        <!-- ============================================================== -->
                        <div class="influence-profile-content pills-regular">
                            <ul class="nav nav-pills mb-3 nav-justified" id="pills-tab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="pills-campaign-tab" data-toggle="pill"
                                       href="#pills-campaign" role="tab" aria-controls="pills-campaign"
                                       aria-selected="false">کمپین ها</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="pills-packages-tab" data-toggle="pill"
                                       href="#pills-packages" role="tab" aria-controls="pills-packages"
                                       aria-selected="false">تبلیغات جدید</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="pills-review-tab" data-toggle="pill"
                                       href="#pills-review"
                                       role="tab" aria-controls="pills-review" aria-selected="false">ثبت کالای جدید</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="pills-pending-tab" data-toggle="pill"
                                       href="#pills-pending"
                                       role="tab" aria-controls="pills-pending" aria-selected="false">کالاهای تایید
                                        نشده/منتظر تایید</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="pills-msg-tab" data-toggle="pill" href="#pills-msg"
                                       role="tab" aria-controls="pills-msg" aria-selected="true">قرار داد</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="pills-account-tab" data-toggle="pill" href="#pills-account"
                                       role="tab" aria-controls="pills-account" aria-selected="true">مدیریت حساب</a>
                                </li>
                            </ul>
                            <div class="tab-content" id="pills-tabContent">
                                <div class="tab-pane fade" id="pills-pending" role="tabpanel"
                                     aria-labelledby="pills-pending-tab">

                                    <div class="section-block">
                                        <h3 class="section-title">لیست کالاها</h3>
                                    </div>
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="row">
                                                {% for product in products %}
                                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                                        <div class="media influencer-profile-data d-flex align-items-center p-2">
                                                            <div class="mr-4">
                                                                <img src="{{ product.img.url }}" height="100"
                                                                     width="100">
                                                            </div>
                                                            <div class="media-body ">
                                                                <div class="influencer-profile-data">
                                                                    <h3 class="m-b-10">{{ product.name }} </h3>
                                                                    <p>
                                                                        <span class="m-r-20 d-inline-block">توضیحات <span
                                                                                class="m-l-10  text-info">{{ product.description }}</span>
                                                                        </span>

                                                                        <span class="m-r-20 d-inline-block">قیمت <span
                                                                                class="m-l-10  text-info">{{ product.price }}</span>
                                                                        </span>
                                                                        <span class="m-r-20 d-inline-block">وضعیت
                                                                            <span class="m-l-10 text-secondary">{{ product.get_status_display }}</span>
                                                                        </span>
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="tab-pane fade show active" id="pills-campaign" role="tabpanel"
                                     aria-labelledby="pills-campaign-tab">

                                    <div class="section-block">
                                        <h3 class="section-title">لیست کمپین ها</h3>
                                    </div>
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                                    <div class="media influencer-profile-data d-flex align-items-center p-2">
                                                        <div class="mr-4">
                                                            <img src="assets/images/slack.png" alt="User Avatar"
                                                                 class="user-avatar-lg">
                                                        </div>
                                                        <div class="media-body ">
                                                            <div class="influencer-profile-data">
                                                                <h3 class="m-b-10">نام کمپین</h3>
                                                                <p>
                                                                        
                                                                        <span class="m-r-20 d-inline-block"> تاریخ شروع  
                                                                            <span class="m-l-10 text-secondary">۲ بهمن ۱۳۹۶</span>
                                                                        </span>
                                                                    <span class="m-r-20 d-inline-block">تاریخ اتمام <span
                                                                            class="m-l-10  text-info">۲ فروردین ۱۳۹۷</span>
                                                                        </span>
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="section-block">
                                        <h3 class="section-title">شروع کمپین جدید</h3>
                                    </div>
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                                    <div class="section-block" id="basicform">
                                                        <h3 class="section-title"></h3>
                                                    </div>
                                                    <div class="card">
                                                        <h5 class="card-header">ثبت کمپین جدید</h5>
                                                        <div class="card-body">
                                                            <form>
                                                                <div class="form-group">
                                                                    <label for="inputText3" class="col-form-label">نام
                                                                        کمپین</label>
                                                                    <input id="inputText3" type="text"
                                                                           class="form-control">
                                                                </div>

                                                                <div class="form-group">
                                                                    <label for="inputText4" class="col-form-label">تاریخ
                                                                        شروع</label>
                                                                    <input id="inputText4" type="number"
                                                                           class="form-control" placeholder="Numbers">
                                                                </div>

                                                                <div class="form-group">
                                                                    <label for="inputText4" class="col-form-label">تاریخ
                                                                        پایان</label>
                                                                    <input id="inputText4" type="number"
                                                                           class="form-control" placeholder="Numbers">
                                                                </div>


                                                                <div class="form-group">
                                                                    <label for="exampleFormControlTextarea1">توضیحات
                                                                        کمپین</label>
                                                                    <textarea class="form-control"
                                                                              id="exampleFormControlTextarea1"
                                                                              rows="3"></textarea>
                                                                </div>
                                                            </form>
                                                        </div>
                                                        <div class="card-body border-top">
                                                            <div class="card-body border-top">
                                                                <div class="form-group pt-2">
                                                                    <button class="btn btn-block btn-primary"
                                                                            type="submit">ثبت کمپین
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="pills-packages" role="tabpanel"
                                     aria-labelledby="pills-packages-tab">
                                    <div class="row">
                                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                            <div class="section-block">
                                                <h2 class="section-title">My Packages</h2>
                                            </div>
                                        </div>
                                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                                            <div class="card">
                                                <div class="card-header bg-primary text-center p-3 ">
                                                    <h4 class="mb-0 text-white"> Basic</h4>
                                                </div>
                                                <div class="card-body text-center">
                                                    <h1 class="mb-1">$150</h1>
                                                    <p>Per Month Plateform</p>
                                                </div>
                                                <div class="card-body border-top">
                                                    <ul class="list-unstyled bullet-check font-14">
                                                        <li>Facebook, Instagram, Pinterest,Snapchat.</li>
                                                        <li>Guaranteed follower growth for increas brand awareness.</li>
                                                        <li>Daily updates on choose platforms</li>
                                                        <li>Stronger customer service through daily interaction</li>
                                                        <li>Monthly progress report</li>
                                                        <li>1 Million Followers</li>
                                                    </ul>
                                                    <a href="#" class="btn btn-outline-secondary btn-block btn-lg">Get
                                                        Started</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                                            <div class="card">
                                                <div class="card-header bg-info text-center p-3">
                                                    <h4 class="mb-0 text-white"> Standard</h4>
                                                </div>
                                                <div class="card-body text-center">
                                                    <h1 class="mb-1">$350</h1>
                                                    <p>Per Month Plateform</p>
                                                </div>
                                                <div class="card-body border-top">
                                                    <ul class="list-unstyled bullet-check font-14">
                                                        <li>Facebook, Instagram, Pinterest,Snapchat.</li>
                                                        <li>Guaranteed follower growth for increas brand awareness.</li>
                                                        <li>Daily updates on choose platforms</li>
                                                        <li>Stronger customer service through daily interaction</li>
                                                        <li>Monthly progress report</li>
                                                        <li>2 Blog Post & 3 Social Post</li>
                                                        <li>5 Millions Followers</li>
                                                        <li>Growth Result</li>
                                                    </ul>
                                                    <a href="#" class="btn btn-secondary btn-block btn-lg">Get
                                                        Started</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                                            <div class="card">
                                                <div class="card-header bg-primary text-center p-3">
                                                    <h4 class="mb-0 text-white">Premium</h4>
                                                </div>
                                                <div class="card-body text-center">
                                                    <h1 class="mb-1">$550</h1>
                                                    <p>Per Month Plateform</p>
                                                </div>
                                                <div class="card-body border-top">
                                                    <ul class="list-unstyled bullet-check font-14">
                                                        <li>Facebook, Instagram, Pinterest,Snapchat.</li>
                                                        <li>Guaranteed follower growth for increas brand awareness.</li>
                                                        <li>Daily updates on choose platforms</li>
                                                        <li>Stronger customer service through daily interaction</li>
                                                        <li>Monthly progress report & Growth Result</li>
                                                        <li>4 Blog Post & 6 Social Post</li>
                                                    </ul>
                                                    <a href="#" class="btn btn-secondary btn-block btn-lg">Contact
                                                        us</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="pills-review" role="tabpanel"
                                     aria-labelledby="pills-review-tab">
                                    <!-- ============================================================== -->
                                    <!-- basic form  -->
                                    <!-- ============================================================== -->
                                    <div class="row">
                                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                            <div class="section-block" id="basicform">
                                                <h3 class="section-title"></h3>
                                            </div>
                                            <div class="card">
                                                <h5 class="card-header">ثبت کالای جدید</h5>
                                                <div class="card-body">
                                                    <form dir="rtl" role="form"
                                                          action="{% url 'user_profile' %}"
                                                          method="post"
                                                          enctype="multipart/form-data" novalidate>
                                                        {% csrf_token %}
                                                        {% if new_product_form.errors %}
                                                            {% for field in new_product_form %}
                                                                {% for error in field.errors %}
                                                                    <div class="alert alert-danger">
                                                                        <strong>{{ error|escape }}</strong>
                                                                    </div>
                                                                {% endfor %}
                                                            {% endfor %}
                                                            {% for error in new_product_form.non_field_errors %}
                                                                <div class="alert alert-danger">
                                                                    <strong>{{ error|escape }}</strong>
                                                                </div>
                                                            {% endfor %}
                                                        {% endif %}
                                                        {% for field in new_product_form %}
                                                            <div class="form-group">
                                                                <label class="=col-form-lable"> {{ field.label }} </label>
                                                                <input class="form-control form-control-lg"
                                                                       type="{{ field.subwidgets.0.data.type }}"
                                                                       name="{{ field.name }}" required=""
                                                                       placeholder=""
                                                                       autocomplete="off">
                                                            </div>
                                                        {% endfor %}
                                                        {#                                                        <div class="form-group">#}
                                                        {#                                                            <label for="inputText3" class="col-form-label">عنوان#}
                                                        {#                                                                کالا</label>#}
                                                        {#                                                            <input id="inputText3" type="text" class="form-control">#}
                                                        {#                                                        </div>#}
                                                        {##}
                                                        {#                                                        <div class="form-group">#}
                                                        {#                                                            <label for="inputText4" class="col-form-label">تعداد#}
                                                        {#                                                                کالا</label>#}
                                                        {#                                                            <input id="inputText4" type="number" class="form-control"#}
                                                        {#                                                                   placeholder="Numbers">#}
                                                        {#                                                        </div>#}
                                                        {##}
                                                        {#                                                        <h5>تصویر</h5>#}
                                                        {#                                                        <div class="custom-file mb-3">#}
                                                        {#                                                            <input type="file" class="custom-file-input"#}
                                                        {#                                                                   id="customFile">#}
                                                        {#                                                            <label class="custom-file-label" for="customFile">تصویر#}
                                                        {#                                                                کالا</label>#}
                                                        {#                                                        </div>#}
                                                        {#                                                        <div class="card p-3">#}
                                                        {#                                                            <!-- .card -->#}
                                                        {#                                                            <div class="card card-figure">#}
                                                        {#                                                                <!-- .card-figure -->#}
                                                        {#                                                                <figure class="figure">#}
                                                        {#                                                                    <!-- .figure-img -->#}
                                                        {#                                                                    <div class="figure-attachment">#}
                                                        {#                                                                        <img src="../assets/images/card-img.jpg"#}
                                                        {#                                                                             alt="Card image cap" class="img-fluid">#}
                                                        {#                                                                    </div>#}
                                                        {#                                                                    <!-- /.figure-img -->#}
                                                        {#                                                                    <figcaption class="figure-caption">#}
                                                        {#                                                                        <ul class="list-inline d-flex text-muted mb-0">#}
                                                        {#                                                                            <li class="list-inline-item text-truncate mr-auto">#}
                                                        {#                                                                                Image attachment#}
                                                        {#                                                                            </li>#}
                                                        {#                                                                            <li class="list-inline-item">#}
                                                        {#                                                                                <a href="../assets/images/card-img-1.jpg"#}
                                                        {#                                                                                   download> <span><i#}
                                                        {#                                                                                        class="fas fa-download "></i></span></a>#}
                                                        {#                                                                            </li>#}
                                                        {#                                                                            <li class="list-inline-item">#}
                                                        {#                                                                                <a href="#"#}
                                                        {#                                                                                   class="btn btn-reset text-muted"#}
                                                        {#                                                                                   title="More actions">#}
                                                        {#                                                                                    <span class="fas fa-caret-down"></span>#}
                                                        {#                                                                                </a>#}
                                                        {#                                                                            </li>#}
                                                        {#                                                                        </ul>#}
                                                        {#                                                                    </figcaption>#}
                                                        {#                                                                </figure>#}
                                                        {#                                                                <!-- /.card-figure -->#}
                                                        {#                                                            </div>#}
                                                        {#                                                            <!-- /.card -->#}
                                                        {#                                                        </div>#}
                                                        <div class="card-body border-top">
                                                            <div class="card-body border-top">
                                                                <div class="form-group pt-2">
                                                                    <button class="btn btn-block btn-primary"
                                                                            href="#"
                                                                            name="propose-product"
                                                                            type="submit">ثبت کالا
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- ============================================================== -->
                                    <!-- end basic form  -->
                                    <!-- ============================================================== -->
                                </div>

                                <div class="tab-pane fade" id="pills-account" role="tabpanel"
                                     aria-labelledby="pills-account-tab">
                                    <div class="row">
                                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">

                                            <div class="card">
                                                <h5 class="card-header">افزایش موجودی حساب</h5>
                                                <div class="card-body">
                                                    <h5>موجودی : ۳۶۰۰۰۰</h5>
                                                    <form>
                                                        <div class="form-group">
                                                            <label for="inputText4" class="col-form-label">مبلغ</label>
                                                            <input id="inputText4" type="number" class="form-control"
                                                                   placeholder="">
                                                        </div>

                                                    </form>
                                                    <div class="card-body border-top">
                                                        <div class="card-body border-top">
                                                            <div class="form-group pt-2">
                                                                <button class="btn btn-block btn-primary" type="submit"
                                                                        href="/pages/transaction.html">افزایش موجودی
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="tab-pane fade" id="pills-msg" role="tabpanel"
                                     aria-labelledby="pills-msg-tab">
                                    <div class="row" dir="rtl">
                                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12" dir="rtl">
                                            <div class="section-block" id="basicform" dir="rtl">
                                                <h3 class="section-title"></h3>
                                            </div>
                                            <div class="card">
                                                <h5 class="card-header" dir="rtl">قرار داد جدید</h5>
                                                <div class="card-body">
                                                    <form>

                                                        <div class="form-group">
                                                            <label for="inputText4" class="col-form-label">تعداد
                                                                کالا</label>
                                                            <input id="inputText4" type="number" class="form-control">
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="inputText4" class="col-form-label">درصد
                                                                سود</label>
                                                            <input id="inputText4" type="number" class="form-control">
                                                        </div>

                                                        <div class="form-group">
                                                            <label for="exampleFormControlTextarea1">توضیحات
                                                                قرارداد</label>
                                                            <textarea class="form-control"
                                                                      id="exampleFormControlTextarea1"
                                                                      rows="3"></textarea>
                                                        </div>
                                                    </form>
                                                </div>
                                                <div class="card-body border-top">
                                                    <div class="form-group pt-2">
                                                        <button class="btn btn-block btn-primary" type="submit">ثبت قرار
                                                            داد
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                        <!-- ============================================================== -->
                        <!-- end campaign tab one -->
                        <!-- ============================================================== -->
                    </div>
                    <!-- ============================================================== -->
                    <!-- end campaign data -->
                    <!-- ============================================================== -->
                    <!-- ============================================================== -->
                    <!-- profile -->
                    <!-- ============================================================== -->
                    <div class="col-xl-3 col-lg-3 col-md-5 col-sm-12 col-12">
                        <!-- ============================================================== -->
                        <!-- card profile -->
                        <!-- ============================================================== -->
                        <div class="card">
                            <div class="card-body">
                                <div class="text-center">
                                    <span class="font-24 mb-0">{{ user.first_name }}</span>
                                    <span class="font-24 mb-0">{{ user.last_name }}</span>
                                </div>
                            </div>
                            <div class="card-body border-top">
                                <h3 class="font-16">اطلاعات تماس</h3>
                                <div class="">
                                    <ul class="list-unstyled mb-0">
                                        <li class="mb-2"><i class="fas fa-fw fa-envelope mr-2"></i>{{ user.email }}</li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- ============================================================== -->
                        <!-- end card profile -->
                        <!-- ============================================================== -->
                    </div>
                    <!-- ============================================================== -->
                    <!-- end profile -->
                    <!-- ============================================================== -->
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- end content -->
        <!-- ============================================================== -->

    </div>
    <!-- ============================================================== -->
    <!-- end wrapper -->
    <!-- ============================================================== -->
</div>
<!-- ============================================================== -->
<!-- end main wrapper -->
<!-- ============================================================== -->
<!-- Optional JavaScript -->
<!-- jquery 3.3.1  -->
<script src="../../static/web/assets/vendor/jquery/jquery-3.3.1.min.js"></script>
<!-- bootstap bundle js -->
<script src="../../static/web/assets/vendor/bootstrap/js/bootstrap.bundle.js"></script>
<!-- slimscroll js -->
<script src="../../static/web/assets/vendor/slimscroll/jquery.slimscroll.js"></script>
<!-- main js -->
<script src="../../static/web/assets/libs/js/main-js.js"></script>

</body>

</html>